
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#Python and jupyter notebook
waypoint_test.py
.vscode
__pycache__
Test_Carenv.ipynb
waypoint_test_town2.py
workings lane info.ipynb


#Folder
models 
logs
report
rlvenv
archive